{% extends "base.html" %}
{% from "macros.html" import sugestoes_valores %}
{% set aba = 'cadastros' %}
{% block titulo %}{{ 'Editar funcionário' if funcionario else 'Novo funcionário' }}{% endblock %}
{% block conteudo %}
<h1 class="h4 mb-3">{{ 'Editar funcionário' if funcionario else 'Novo funcionário' }}</h1>
{{ sugestoes_valores(empresas, 'sugestoes-f-empresas') }}
{{ sugestoes_valores(cargos, 'sugestoes-cargos') }}
<div class="card">
  <div class="card-body">
    <form method="post" class="row g-3">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <div class="col-md-4">
        <label class="form-label">Nome *</label>
        <input class="form-control" name="nome" value="{{ funcionario.nome if funcionario else '' }}"
               autocomplete="off" spellcheck="false" required>
      </div>
      <div class="col-md-4">
        <label class="form-label">Matrícula *</label>
        <input class="form-control codigo" name="matricula"
               value="{{ funcionario.matricula if funcionario else '' }}"
               autocomplete="off" spellcheck="false" required>
        <div class="form-text">Não pode se repetir.</div>
      </div>
      <div class="col-md-4">
        <label class="form-label">Empresa *</label>
        <input class="form-control" name="empresa"
               value="{{ funcionario.empresa if funcionario else '' }}"
               list="sugestoes-f-empresas" autocomplete="off" spellcheck="false" required>
      </div>
      <div class="col-md-4">
        <label class="form-label">Cargo *</label>
        <input class="form-control" name="cargo" list="sugestoes-cargos"
               autocomplete="off" spellcheck="false"
               value="{{ funcionario.cargo if funcionario and funcionario.cargo else '' }}" required>
      </div>
      <div class="col-12">
        <button class="btn btn-primary">Salvar</button>
        <a class="btn btn-outline-secondary" href="{{ url_for('cadastros.funcionarios') }}">Cancelar</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}
